<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/01_08)_%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B0%80%EA%B3%B5_%EA%B3%A0%EA%B8%89%EA%B8%B0%EB%8A%A5(apply%2C_map%2C_%EB%AC%B8%EC%9E%90%EC%97%B4_%EB%8B%A4%EB%A3%A8%EA%B8%B0)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **고급 기능(apply, map, 문자열 다루기)**


---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

file_path = '/content/drive/MyDrive/data/titanic_train.csv'
df = pd.read_csv(file_path)

In [4]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## **apply 함수**
- 사용자 정의 함수를 데이터에 적용하고 싶을 때 사용합니다.
- `.apply(함수, axis=0/1)`

In [6]:
#apply함수가 데이터를 가공할때 갱장히 유용하기 때문에 기억하기
df1 = df.copy()

In [7]:
def pclass_sibsp(x): #사용자정의함수를 만들어 놓은거
    if x['Pclass'] == 1 and x['SibSp'] == 1:
        return 1
    else:
        return 0

In [8]:
df1['pclass_sibsp_filter'] = df1.apply(pclass_sibsp, axis=1)
#열의 이름을 참조헀기 때문에 axis = 1을 꼭 적어주기

In [9]:
df1.head(5)
#Sibsp는 동반자이고
# 1등석이고 동반자가 있으면 1 , 동반자가 없으면 0
#새로운 pclass_sibsp_filter 열이 생긴걸 확인할 수 있음

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pclass_sibsp_filter
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [10]:
import numpy as np

def adult(x):
    if x >= 19:
        return 1
    elif x < 19:
        return 0
    else:
        return np.nan

In [12]:
df1['adult_yn'] = df1['Age'].apply(adult)
df1.head(5)
#adult_yn 새로운 열이 생김

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pclass_sibsp_filter,adult_yn
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1.0

- 간단한 함수는 lambda로 구현할 수 있습니다.

In [14]:
df1['pclass_sibsp_lambda'] = df1.apply(lambda x: 1 if x['Pclass'] == 1 and x['SibSp'] == 1 else 0, axis=1)
df1.head(3)
# 람다함수를 사용해서 확인할 수 있음

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pclass_sibsp_filter,adult_yn,pclass_sibsp_lambda
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1.0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1.0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0,0

## **map 함수**
- 값을 특정 값으로 치환하고 싶을 때 사용합니다.
- `데이터명[컬럼명].map(매핑 딕셔너리)`

In [16]:
gender_map = {'male':'남자', 'female':'여자'} # 딕셔너리를 이용해서
df1['Sex_kr'] = df1['Sex'].map(gender_map)
df1.head(3)
#map함수는 특정한 값을 다른 값으로 치환하고 싶을 떄 사용

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,pclass_sibsp_filter,adult_yn,pclass_sibsp_lambda,Sex_kr
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1.0,0,남자
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1.0,1,여자
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0,0,여자

## **문자열 다루기**
|메소드|설명|
|:--|:--|
|`.str.contains(문자열)`|문자열을 포함하고 있는지 유무|
|`.str.replace(기존문자열, 대치문자열)`|문자열 대치|
|`.str.split(문자열, expand=True/False, n=개수)`|특정 문자열을 기준으로 쪼개기|
|`.str.lower()`|소문자로 바꾸기|
|`.str.upper()`|대문자로 바꾸기|

In [18]:
df2 = df.copy()
df2.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

- `.str.contains(문자열)`

In [19]:
df2['Name'].str.contains('Mrs') # T면 포함 F는 미포함
#특정문자열을 포함하고 있는지 contains()

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Name, Length: 891, dtype: bool

In [20]:
df2[df2['Name'].str.contains('Mrs')]
# 이조건을 대괄호 안에 넣게 되면 이 문자열을 포함한 열을 추출할 수 있음

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

- `.str.replace(기존문자열, 대치문자열)`

In [25]:
df2['Name'] = df2['Name'].str.replace(',', '*** ')
df2.head(10)
#기존의 문자열을 다른 문자열로 대치 시켜주는
#콤마가 모두 사라진걸 확인할 수있음

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings Mrs. John Bradley (Florence Briggs Tha...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Moran Mr. James,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,McCarthy Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,Palsson Master. Gosta Leonard,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,Johnson Mrs. Oscar W (Elisabeth Vilhelmina Berg),female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,Nasser Mrs. Nicholas (Adele Achem),female,14.0,1,0,237736,30.0708,NaN,C

- `.str.split(문자열, expand=True/False, n=개수)`

In [26]:
df2['Name'].str.split(' ')
#특정 문자열 기준으로 쪼개기 가능
#빈칸 기준으로 쪼개진거임

0                            [Braund, Mr., Owen, Harris]
1      [Cumings, Mrs., John, Bradley, (Florence, Brig...
2                              [Heikkinen, Miss., Laina]
3      [Futrelle, Mrs., Jacques, Heath, (Lily, May, P...
4                           [Allen, Mr., William, Henry]
                             ...
886                             [Montvila, Rev., Juozas]
887                     [Graham, Miss., Margaret, Edith]
888        [Johnston, Miss., Catherine, Helen, "Carrie"]
889                            [Behr, Mr., Karl, Howell]
890                               [Dooley, Mr., Patrick]
Name: Name, Length: 891, dtype: object

In [28]:
df2['Name'].str.split(' ', expand=True, n=2)
#expand = False가 디폴트 값이고 True라는 값을 넣게 되면
# 열을 쪼개서 펼쳐주게 됨
# expand를 쓸때 몇개의 열로 펼쳐줄건지
# n = 1이니까 한개로 펼쳐달라고 한거임

             0      1                                      2
0       Braund    Mr.                            Owen Harris
1      Cumings   Mrs.  John Bradley (Florence Briggs Thayer)
2    Heikkinen  Miss.                                  Laina
3     Futrelle   Mrs.          Jacques Heath (Lily May Peel)
4        Allen    Mr.                          William Henry
..         ...    ...                                    ...
886   Montvila   Rev.                                 Juozas
887     Graham  Miss.                         Margaret Edith
888   Johnston  Miss.               Catherine Helen "Carrie"
889       Behr    Mr.                            Karl Howell
890     Dooley    Mr.                                Patrick

[891 rows x 3 columns]

- `.str.lower()`
- `.str.upper()`

In [29]:
df2['Name'].str.lower()
#소문자 변환

0                                 braund mr. owen harris
1      cumings mrs. john bradley (florence briggs tha...
2                                  heikkinen miss. laina
3            futrelle mrs. jacques heath (lily may peel)
4                                allen mr. william henry
                             ...
886                                 montvila rev. juozas
887                          graham miss. margaret edith
888              johnston miss. catherine helen "carrie"
889                                 behr mr. karl howell
890                                   dooley mr. patrick
Name: Name, Length: 891, dtype: object

In [30]:
df2['Name'].str.upper()
#대문자 변환

0                                 BRAUND MR. OWEN HARRIS
1      CUMINGS MRS. JOHN BRADLEY (FLORENCE BRIGGS THA...
2                                  HEIKKINEN MISS. LAINA
3            FUTRELLE MRS. JACQUES HEATH (LILY MAY PEEL)
4                                ALLEN MR. WILLIAM HENRY
                             ...
886                                 MONTVILA REV. JUOZAS
887                          GRAHAM MISS. MARGARET EDITH
888              JOHNSTON MISS. CATHERINE HELEN "CARRIE"
889                                 BEHR MR. KARL HOWELL
890                                   DOOLEY MR. PATRICK
Name: Name, Length: 891, dtype: object