<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/%E1%84%83%E1%85%B5%E1%86%A8%E1%84%89%E1%85%A7%E1%84%82%E1%85%A5%E1%84%85%E1%85%B5%26%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **딕셔너리**


---

## **[1] 딕셔너리란?**
- 키(Key): 값(Value)의 쌍이 모여있는 사전 형태의 자료형입니다.
- 키: 값의 쌍을 중괄호(`{}`)로 감싸줍니다.
- `변수명 = {'키1':값, '키2':값, ...}'
- 키는 고유한 값이기 때문에키는 중복될 수 없고, 리스트는 키가 될 수 없습니다.
- 위치로 인덱싱이 되지 않습니다.

In [1]:
dic = {'name':'merry',\
      'num':1,\
      'birth':'jan'}
dic

{'name': 'merry', 'num': 1, 'birth': 'jan'}

In [2]:
dic = {'name':['merry','john'],\
      'num':[1,2,3],\
      'birth':['jan','feb','nov']}
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [3]:
{'name':'merry', 'name':'john'}

{'name': 'john'}

In [4]:
{['name','num']:['merry', 1]} #키는 list로 가질 수 없음

TypeError: unhashable type: 'list'

In [5]:
{('name','num'):[('merry',1),('john',2)]}

{('name', 'num'): [('merry', 1), ('john', 2)]}

In [6]:
dic[0] #dictionary는 인덱싱이 불가함

KeyError: 0

## **[2] 딕셔너리 요소 추가, 삭제하기**
- 추가: `딕셔너리변수명[추가할키]=추가할값`
- 삭제: `del 딕셔너리변수명[삭제할키]`

In [7]:
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [8]:
print(dic) #원래거
dic['country'] = ['Korea','US'] # 새로추가한거
print(dic)

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}
{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov'], 'country': ['Korea', 'US']}

In [9]:
del dic['country'] #del사용하면 삭제가능
print(dic)

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

## **[3] 딕셔너리 키로 값 찾기**
- `딕셔너리변수명[찾을키]`

In [10]:
print(dic['name'])
print(dic['num'])

['merry', 'john']
[1, 2, 3]

In [11]:
dic['country'] # 삭제됐으니까 안나옴

KeyError: 'country'

## **[4] 딕셔너리 함수**
- `keys()`: 키들을 반환합니다.
- `values()`: 값들을 반환합니다.
- `items()`: 키와 값의 튜플 쌍들을 반환합니다.
- `get(원하는키값)`: 원하는 키 값에 대응되는 값을 반환합니다.
 - `딕셔너리변수명[원하는키값]`과 똑같은 값을 반환합니다.
- `update`: 딕셔너리에 새로운 딕셔너리를 추가합니다.
- `zip`: 튜플/리스트 두 개를 하나의 딕셔너리로 변환합니다.

### keys, values, items

In [12]:
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [13]:
print(dic.keys())
print(dic.values())
print(dic.items()) #튜플로 키와 값의 쌍들의 묶음이 나옴

dict_keys(['name', 'num', 'birth'])
dict_values([['merry', 'john'], [1, 2, 3], ['jan', 'feb', 'nov']])
dict_items([('name', ['merry', 'john']), ('num', [1, 2, 3]), ('birth', ['jan', 'feb', 'nov'])])

In [15]:
type(dic.items()) # dict_items라는 고유한 형태로 가짐

dict_items

- 결과를 리스트의 형태로 변환하고 싶으면 `list()`함수로 감싸줍니다.

In [16]:
print(list(dic.keys()))
print(list(dic.values()))
print(list(dic.items()))

['name', 'num', 'birth']
[['merry', 'john'], [1, 2, 3], ['jan', 'feb', 'nov']]
[('name', ['merry', 'john']), ('num', [1, 2, 3]), ('birth', ['jan', 'feb', 'nov'])]

- 딕셔너리 함수들은 뒤에서 배울 반복문을 같이 자주 씁니다.

In [18]:
for k, v in dic.items():
    print('키: ', k)
    print('값: ', v)

키:  name
값:  ['merry', 'john']
키:  num
값:  [1, 2, 3]
키:  birth
값:  ['jan', 'feb', 'nov']

### `get`

In [19]:
dic.get('name') #key값을 입력했을때 values값이 추출됨

['merry', 'john']

In [20]:
dic['name']

['merry', 'john']

### `update`

In [21]:
dic1 = {'a':[1,2], 'b':3, 'c':[4,5,6]}
dic2 = {'d':10, 'e':[102,101]}
dic1.update(dic2) #새로운 요소를 추가하고 싶을 때 사용함

In [22]:
dic1

{'a': [1, 2], 'b': 3, 'c': [4, 5, 6], 'd': 10, 'e': [102, 101]}

### `zip`

In [23]:
keys = ("a", "b")
values = (1,2)
result = dict(zip(keys, values)) #zip 함수는 튜플 or list를 딕셔너리해서 바꿔줌
print(result)

{'a': 1, 'b': 2}

In [24]:
keys = ["a", "b"]
values = [1,2]
result = dict(zip(keys, values)) #키와 값이 쌍으로 묶여서 하나의 쌍으로 만들어진 딕셔너리로 나옴
print(result)

{'a': 1, 'b': 2}

In [25]:
keys = ["a", "b","c"]
values = [1,2]
result = dict(zip(keys, values)) # 만약 key에 들어갈 리스트와  values에 들어갈 리스트의 길이가 맞지않을 경우 적은 쪽에 맞춰서 만들어짐
print(result)

{'a': 1, 'b': 2}

## **[5] 데이터셋과 대응**
- 각 키들의 값의 길이가 같다면, Part2에서 배울 dataframe이라는 데이터셋의 형식과 대응될 수 있습니다.

In [26]:
dic = {'name':['merry','john','kevin'],\
      'num':[1,2,3],\
      'birth':['jan','feb','nov']}
dic

{'name': ['merry', 'john', 'kevin'],
 'num': [1, 2, 3],
 'birth': ['jan', 'feb', 'nov']}

In [27]:
import pandas as pd
df = pd.DataFrame(dic)
df

    name  num birth
0  merry    1   jan
1   john    2   feb
2  kevin    3   nov

## **[6] 연습문제**

## 1. 다음의 딕셔너리는 과일가게의 과일별 매출입니다. 매출의 평균을 구해보세요.

In [36]:
fruits = {'apple': 150000, 'banana': 120300, 'cherry': 450000}

In [61]:
#강사님
fruits.values()
total= sum(fruits.values())
fruits.keys()
cnt = len(fruits.keys())
total/cnt

240100.0

## 2. 다음과 같이 key와 value 리스트가 있을 때, key값을 입력받으면 value 값을 출력해보세요.

In [54]:
key = ["apple", "banana", "cherry"]
values = [150000, 120300, 45000]

In [55]:
print(list(dic.keys()))
print(list(dic.values()))
result = dic(zip(key,values))

['apple', 'banana', 'cherry']
[150000, 120300, 450000]

TypeError: 'dict' object is not callable

In [63]:
#강사님
#리스트 함수로 바꾸기
d=dict(zip(key,values))

In [64]:
key_input = input("apple,banana,'cherry 중 하나를 입력해주세요.")

apple,banana,'cherry 중 하나를 입력해주세요apple

In [65]:
d[key_input]

150000

## 3. 다음 딕셔너리에서 값이 150000인 키를 출력해보세요.
(힌트: 키와 값을 따로 리스트에 저장해보세요)

In [68]:
fruits = {'apple': 150000, 'banana': 120300, 'cherry': 450000}

In [71]:
key_list=list(fruits.keys())
value_list=list(fruits.values())

In [72]:
value_list

[150000, 120300, 450000]

In [73]:
print(key_list)
print(value_list)

['apple', 'banana', 'cherry']
[150000, 120300, 450000]

In [75]:
idx = value_list.index(150000)

In [76]:
key_list[idx]

'apple'