<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **리스트(list)**


---
[1] 리스트란?
- 요소들의 모음을 나타내는 자료형
- 요소들을 대괄호([])로 감싸주어 만들 수 있습니다.
- 모든 자료형을 리스트의 요소로 담을 수 있습니다.
- 값의 순서가 있고, 인덱스로 접근함
- 안에 어떤 타입이든 넣을 수 있음 (숫자, 문자열, 또 다른 리스트 등)

In [1]:
a = [1,2,3,4,5]
b = ['life','is','too','short']
c = [1,2,'life','is']
d = [1,2,['life','is',['too','short']]]

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

[1, 2, 3, 4, 5] <class 'list'>
['life', 'is', 'too', 'short'] <class 'list'>
[1, 2, 'life', 'is'] <class 'list'>
[1, 2, ['life', 'is', ['too', 'short']]] <class 'list'>

## **[2] 인덱싱**
- 문자열과 마찬가지로 인덱싱을 적용할 수 있습니다.
- 리스트 안에 리스트가 있는 경우 인덱싱을 두 번 하면 리스트 안의 리스트 요소를 가져올 수 있습니다.

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
print(a[0]) #1
print(a[0]+a[4]) # 1+5 = 6
print(a[3:]) # 4,5
print(a[1:-1]) # 1번 인덱스부터 시작해서, -1번 인덱스 전까지 잘라라는

1
6
[4, 5]
[2, 3, 4]

In [6]:
d

[1, 2, ['life', 'is', ['too', 'short']]]

In [7]:
print(d[2]) #세 번째 요소 전체 (리스트 자체)를 출력
print(d[2][2])
#👉 d[2]는 리스트 ['life', 'is', ['too', 'short']]
#👉 그 안의 세 번째 요소 → ['too', 'short']
print(d[-1][2:])
print(d[-1][-1][-1])
# d[0] = 1

# d[1] = 2

# d[2] = ['life', 'is', ['too', 'short']] ← 이 부분이 리스트 안에 리스트 형태야

['life', 'is', ['too', 'short']]
['too', 'short']
[['too', 'short']]
short

- d[0] = 1

- d[1] = 2

- d[2] = ['life', 'is', ['too', 'short']] ← 이 부분이 리스트 안에 리스트 형태야

- print(d[-1][2:])
    - d[-1] → d[2]와 같아. 왜냐하면 -1은 리스트의 마지막 요소를 의미하니까.

        - 그래서 d[-1] → ['life', 'is', ['too', 'short']]

        - 그럼 이 상태에서 d[-1][2:]을 보면:

        - d[-1][2] → '['too', 'short']'

        - d[-1][2:] → 리스트의 2번 인덱스부터 끝까지 자르는 것.

       ->  ['too', 'short']에서 2:를 하면, 리스트 ['too', 'short'] 전체가 그대로 반환돼.

2. print(d[-1][-1][-1])
- 이제 d[-1][-1][-1]을 하나씩 분해해서 이해해보자.

    - d[-1]은 위에서 봤던 것처럼:

    - d[-1] → ['life', 'is', ['too', 'short']]

    - d[-1][-1]은 그 안에서 마지막 요소를 가져오는 것:

    - d[-1][-1] → ['too', 'short']

    - d[-1][-1][-1]은 그 ['too', 'short'] 리스트에서 마지막 요소를 가져오는 것:
      - ['too', 'short']에서 -1은 **'short'**를 의미해

## **[3] 리스트 연산**
- 더하기와 곱하기를 할 수 있습니다.
 - `+`: 리스트와 리스트를 순서대로 연결하여 하나의 리스트를 만듭니다.
 - `*`: 리스트와 숫자형을 곱하여 리스트 안의 요소를 숫자만큼 반복한 하나의 리스트를 만듭니다.

In [8]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [9]:
#리스트에 다른 자료형을 더하면 오류가 납니다.
a + 4

TypeError: can only concatenate list (not "int") to list

In [10]:
a + [4]  # 1,2,3,에 4라는 요소를 하나 추가한거니까

[1, 2, 3, 4]

## **[4] 리스트 값 치환**
- 리스트는 인덱싱을 통해 값을 수정할 수 있습니다.

In [11]:
a = [1,2,3,4,5]
print(a)
a[0] = 0
print(a) # 0,2,3,4,5

[1, 2, 3, 4, 5]
[0, 2, 3, 4, 5]

In [12]:
### 강의 듣기
a = [1, [2, 3], [4, 5, [6, 7]]]

a[0] = 10 # [10,[2,3],[4,5,[6,7]]
print(a)

a[1][0] = [9, 10, 11] #[10,[[9,10,11],3,][4,5,[6,7,]]]
print(a)

a[2][-1] #[10,[[9,10,11],3,][4,5,[6,7,]]] -> [6,7]
print(a)

a[1][0][1:] = [10,[[9,10,11],3,][4,5,[6,7,]]]-> [9,10,11]-> [10,11]
print(a)

[10, [2, 3], [4, 5, [6, 7]]]
[10, [[9, 10, 11], 3], [4, 5, [6, 7]]]
[10, [[9, 10, 11], 3], [4, 5, [6, 7]]]
[10, [[9, 20, 30], 3], [4, 5, [6, 7]]]

In [13]:
print(a[1][0][1:])
a[1][0][1:] = 50

[20, 30]

TypeError: can only assign an iterable

## **[5] 리스트 함수**
- `len` 함수: 리스트의 길이를 구합니다.
- `sum, min, max` 함수: 리스트 요소들의 합, 최솟값, 최댓값을 구합니다.
- `in`: 특정 요소가 리스트 안에 있는지 확인합니다.
- `append, extend`: `append`는 리스트의 맨 마지막에 요소를 추가, `extend`는 리스트의 맨 마지막에 다른 리스트를 추가합니다.
- `insert`: 리스트의 특정 위치에 특정 요소를 삽입합니다.
- `remove, pop`: 리스트의 요소를 삭제합니다.
- `count`: 리스트의 특정 요소의 개수를 반환합니다.
- `index`: 리스트에 요소가 있는 경우 인덱스 값을 반환합니다.
- `sort, sorted`: 리스트를 정렬합니다.
- `join`: 리스트의 요소들을 하나의 문자열로 합칩니다.
- `split`: 문자열을 리스트의 요소들로 쪼갭니다.

In [14]:
### len
a = [1,2,3,4,5]
len(a)

5

In [15]:
### sum, min, max
##리스트가 숫자형으로 이루어졌을 때 요소들의 평균을 구하려면?

sum(a)/len(a) # 15/5 = 3

3.0

In [16]:
 ### 리스트의 요소가 숫자가 아니라면?
a = ['a','b','c','d','e'] ### 에러남
print(sum(a))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(min(a))
print(max(a))

a
e

In [18]:
a = ['a','b','c','d','e']
'a' in a

True

### append() , extend () , insert()

In [19]:
### append() , extend ()
a = [1,2,3]
a.append(4)
print(a) # 1234

[1, 2, 3, 4]

In [20]:
a = [1,2,3]
a.extend([4,5])
print(a) #12345

[1, 2, 3, 4, 5]

In [21]:
a = [1,2,3,4]
a.insert(3,2) # a에서 인덱스 3 위치에 값 2를 삽입하는 코드
print(a)

[1, 2, 3, 2, 4]

### remove, pop
- remove: 특정 요소를 제거
- pop: 특정 위치의 요소를 제거하여 그 요소를 반환

In [22]:
a = [1,2,3,4]
print(a)
a.remove(4)
print(a) # 123

[1, 2, 3, 4]
[1, 2, 3]

In [24]:
a.pop(2) #  3
#a에서 인덱스 2에 해당하는 값을 추출하는 함수야.

3

In [25]:
print(a)

[1, 2]

In [26]:
a = [1,1,2,3]
a.count(1)  # 2

2

### INDEX

In [27]:
a = ['a','b',1,2]
a.index(1) #강의

2

In [28]:
a.index(3) # 리스트 a에 3이 없으니까 에러

ValueError: 3 is not in list

### sort, sorted
- .sort()는 정렬된 리스트를 변환하고,
- .sorted()는 정렬된 리스트를 출력만 합니다.

In [30]:
a = [1,20,23,2]
a.sort()
print(a)

[1, 2, 20, 23]

In [33]:
a = [1,20,23,2]
sorted(a)
print(a)

[1, 20, 23, 2]

In [34]:
a = sorted(a)
print(a)

[1, 2, 20, 23]

In [35]:
a = [1,20,23,2]
sorted(a, reverse=True)

[23, 20, 2, 1]

### join

In [36]:
a = ['a','b','c','d','e']
print('-'.join(a))
print('/'.join(a))
print(''.join(a))

a-b-c-d-e
a/b/c/d/e
abcde

In [40]:
a = [1,2,3,4,5]
print('-'.join(a))

TypeError: sequence item 0: expected str instance, int found

SyntaxError: invalid syntax (<ipython-input-39-a5d5b61aa8a6>, line 1)

### split

In [41]:
a = 'a b c d e'
a.split()

['a', 'b', 'c', 'd', 'e']

In [42]:
a = 'a,b,c,d,e'
a.split(',')

['a', 'b', 'c', 'd', 'e']

## **[6] `range` 함수**
- `range(시작, 끝, 간격)`
 - 간격은 입력 안하면 디폴트가 1
- `list(range())`
 - list로 변환하고 싶을 때는 `list()`함수를 씌워주면 됩니다.

In [43]:
range(1, 10)

range(1, 10)

In [44]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [46]:
list(range(5, -11, -3))

[5, 2, -1, -4, -7, -10]

## **[7] 연습문제**

###1. 다음 리스트에서 홀수만 출력해보고, 짝수만 출력해보세요. (슬라이싱 활용)

In [50]:
#1. 다음 리스트에서 홀수만 출력해보고, 짝수만 출력해보세요. (슬라이싱 활용)
number = list(range(1,11))
number[0:11:2]

[1, 3, 5, 7, 9]

In [62]:
#강사님
number[::2]

[1, 3, 5, 7, 9]

###2. 다음 리스트에서 h를 출력해보세요.

In [55]:
# 2. 다음 리스트에서 h를 출력해보세요.
s = [1,2,['life','is',['too','short']]]
s[2][2][1][1]

'h'

In [66]:
#강사님
s[-1][-1][-1][1]

'h'

# ### 3. 다음 리스트에서 중앙값을 구하세요.
 - 중앙값 구하는 방법
 1.   데이터를 작은 수부터 큰 수 순서대로 정렬
 2.   데이터의 개수가 홀수라면 정렬된 결과의 가운데 수
 3.   데이터의 개수가 짝수라면 정렬된 결과의 가운데 두 수의 평균

In [57]:
# ### 3. 다음 리스트에서 중앙값을 구하세요.
# - 중앙값 구하는 방법
#  1.   데이터를 작은 수부터 큰 수 순서대로 정렬
#  2.   데이터의 개수가 홀수라면 정렬된 결과의 가운데 수
#  3.   데이터의 개수가 짝수라면 정렬된 결과의 가운데 두 수의 평균
a = [1,100,90,32,78,40,2]
a.sort()
a

[1, 2, 32, 40, 78, 90, 100]

In [69]:
# 1번 이후 강사님 도움
len(a) %2 == 1 #나머지가 1이면 홀수

True

In [71]:
center_index= len(a)//2
center_index

3

In [72]:
a[center_index] # 3번째 있는게 가운데 수야라고 인덱싱하는거임

40

### 4. 정수 하나를 입력받고 해당 값을 다음 리스트에 추가하여 리스트 요소들의 평균값을 구하세요.

### 5. 순서대로 실행해보세요.
1.   다음 문자열 두개를 리스트로 쪼개보세요.
2.   두 개의 리스트를 하나로 만들어보세요.
3.   리스트를 알파벳 내림차순으로 정렬하세요.
4.   맨 처음 요소를 꺼내어 출력하고 리스트에서는 삭제하세요.

In [87]:
# 4. 정수 하나를 입력받고 해당 값을 다음 리스트에 추가하여
# 리스트 요소들의 평균값을 구하세요.
nums = list(range(1, 20, 3))

In [89]:
nums
type(nums)

list

In [79]:
#강사님 ver
x = int(input("정수 하나를 입력해주세요."))

정수 하나를 입력해주세요.3

In [75]:
int(x)

3

In [76]:
nums.append(x)

In [90]:
type(nums)

list

In [91]:
sum(nums)/len(nums)

10.0

In [92]:
fruits = 'Apple, Pear, Fig, Melon, Orange'
food = 'Soup, Pizza, Pasta, Salad, Hamburger'

In [95]:
fruits_list= fruits.split(',')

In [96]:
food_list=food.split(',')

In [99]:
h = fruits_list + food_list

In [102]:
reverse_h=sorted(h,reverse=True)

In [103]:
reverse_h

['Soup',
 'Apple',
 ' Salad',
 ' Pizza',
 ' Pear',
 ' Pasta',
 ' Orange',
 ' Melon',
 ' Hamburger',
 ' Fig']

In [101]:
reverse_h.pop(0)

'Soup'