<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95_%EC%88%AB%EC%9E%90%ED%98%95%26%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **숫자형**
---

## **[1] 숫자형이란?**
- 숫자 형태로 이루어진 자료형

|항목|Python 표현 예시|
|:---------|:---|
|정수형 (int)|123, -123, 0|
|실수형 (float)|100.5, -100.5, 10e3, 10e5|

In [2]:
# 정수형
a = 123
print(a)
print(type(a))

123
<class 'int'>

In [7]:
#실수형
a = 1.2
print(a)
print(type(a))
# --------------
b = 10e3
print(b)
print(type(b))

1.2
<class 'float'>
10000.0
<class 'float'>

## **[2] 사칙연산**

In [8]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

## **[3] 다른 연산**

In [12]:
a = 2
b = 3
print(a ** b) #제곱
print(a % b) #나눗셈 후 나머지
print(a // b) #나눗셈 후 몫

8
2
0

In [13]:
a == b

False

In [14]:
(a+1) == b

True

## **[4] 할당연산**

In [15]:
# 변수 a는 10의 값을 가질 때, a에 1을 더해서 a에 덮어씌우려면?
a = 10
print(a)
a = a+1
print(a)

10
11

In [16]:
#다른 사칙연산도 계산가능
a = 10
print(a) # 10
a -= 1
print(a) # 9
a *=2
print(a) # 18
a /= 2
print(a) # 18을 2로 나누고 다시 a에 저장된거니까

### 이게 할당연산이 여러번 이뤄진거임

10
9
18
9.0

## **[5] 연습문제**

### 1. 과일 가게의 총 매출을 구해보세요.

|품목|가격|
|:---------|:---|
|바나나|1000원|
|사과|500원|
|체리|5000원|
&nbsp;

|고객|품목|판매수량|
|:---------|:---|:---|
|A|사과|2
|A|체리|3
|B|사과|4
|C|바나나|1
|C|사과|2
|C|체리|1

In [26]:
banana = 1000
apple = 500
cherry = 5000

a= 2*apple + 3*cherry
b= 4*apple
c= 1*banana + 2*apple + cherry
print(a+b+c)

25000

In [28]:
### 2. 객단가(고객 1명당 평균 매출)를 구해보세요.
total = a + b+ c
total / 3

8333.333333333334

In [29]:
### 3. 자연수 21이 홀수인지 짝수인지 판별하는 코드를 작성해보세요.
a = 21
a % 2 == 1 # a를 나머지를 판별하는 기호는 % 이고 나머지가 1이 되면 홀수 # True라고 나오면 홀수임

True

In [30]:
## 4. 아래 코드에서 최종적으로 a에 들어간 값을 유추해보세요.
a = b = 10
a += 1 # 11
a *= 2 # 22

#내가 내린 a의 최종 값은 22

In [31]:
a # 맞춤

22