<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95_%EB%AC%B8%EC%9E%90%EC%97%B4%26%EC%97%B0%EC%8A%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **문자열**


---

[1] 문자열이란?
- 문자 형태로 이루어진 자료형
- 큰 따옴표 "" 혹은 작은 따옴표 ''로 감싸주면 문자열이 됩니다.

In [ ]:
a = '안녕 민지'
a

'안녕 민지'

In [ ]:
b = "안녕 민지"
b

'안녕 민지'

In [ ]:
# 큰 따옴표와 작은 따옴표를 혼용하면 에러가 남

In [ ]:
#문자열 안에 따옴표를 넣고 싶으면?
a = ' "민지, 화이팅 " '
print(a)

 "민지, 화이팅 "

In [ ]:
b= "'민지, 화이팅'"
b

"'민지, 화이팅'"

In [ ]:
a = '\'민지, 화이팅\''
a

"'민지, 화이팅'"

In [ ]:
b = "\"민지,화이팅\""
b

'"민지,화이팅"'

In [ ]:
#여러 줄을 하나의 변수에 넣고 싶으면?
a = '''
민지 정처기
민지 정처기 합격
'''
print(a)

민지 정처기
민지 정처기 합격

In [ ]:
a = """
민지 정처기
민지 정처기 합격
"""
print(a)

민지 정처기
민지 정처기 합격

In [ ]:
a = '민지, 정처기\n민지, 합격'
print(a) # \n은 줄바꿈을 의미한

민지, 정처기
민지, 합격

## **[2] 문자열 연산**

In [ ]:
a = '민지, 안녕'
b = '합격, 정처기'
c = a+b
print(c)

민지, 안녕합격, 정처기

In [ ]:
a = '민지, 안녕'
b = '합격, 정처기'
c = a+ '  ' + b
print(c)

민지, 안녕  합격, 정처기

In [ ]:
a = '민지'
print(a*2)

민지민지

In [ ]:
print('-'* 50)
print(a)
print('-'* 50)

--------------------------------------------------
민지
--------------------------------------------------

## **[3] 인덱싱**
- 인덱스는 `[]`를 통해 지정할 수 있으며, 첫 번째 위치는 `0`이고, 맨 마지막 위치는 `-1`로도 표현할 수 있습니다.
- `:`를 통해 슬라이싱을 할 수 있습니다.
 - `변수[시작 인덱스:끝 인덱스:간격]`
- 공백도 한 칸을 차지합니다.

In [ ]:
a = 'Hello, World'
print(a[0]) #H
print(a[-1]) #d
print(a[5]) #,

H
d
,

In [ ]:
print(a[:]) #Hello, World
print(a[3:7]) #lo, W
print(a[:-1])#Hello, Worl
print(a[-5:]) #World

Hello, World
lo,
Hello, Worl
World

In [ ]:
print(a[::2]) #두칸씩 띄워서
print(a[1:-1:3])#e부터 d까지 3칸씩 띄워서

Hlo ol
eoWl

## **[4] 문자열 길이 구하기**
- `len` 함수를 사용합니다.

In [ ]:
a = 'Hello, World'
len(a)

12

In [ ]:
print(a[len(a)-5:])

World

✅ 해석 단계별로 설명
1. len(a)
문자열 'Hello, World'의 길이는 12

인덱스 번호는 0부터 시작:

- 인덱스:   0 1 2 3 4 5 6 7 8 9 10 11
- 문자:      H e l l o ,   W o  r  l  d
2. a[len(a)-5:] → a[7:]
len(a) = 12 → len(a) - 5 = 7

그래서 a[7:]는 인덱스 7부터 끝까지 잘라낸 문자열이야.

인덱스 7 = 'W' → 결과는 'World'

- 파이썬에서 문자열의 길이를 셀 때는 공백(스페이스)도 문자로 취급해서 같이 센다

## **[5] 문자열과 숫자형의 혼용**
- 문자열과 숫자형을 더하면 에러가 납니다.
- 숫자형을 문자열으로 변형한 후 더해주어야 합니다.
 - str(숫자형 변수)

In [ ]:
a = 'Number'
b = 7
print(a, b)

Number 7

In [ ]:
print(a + b) #문자형과 숫자형을 더해줄 경우 변형시켜줘야함

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(a + str(b)) # 숫자형인 7을 문자형으로 바꿔준거임

Number7

- 숫자형을 문자열로 변환할 수 있는 것처럼, 문자열도 숫자형으로 변환할 수 있습니다.
 - 정수형: `int`
 - 실수형: `float`

In [ ]:
a = "12345"
print(int(a) + 1) #"" 문자형으로 들어가서 int 정수형으로 바꿔주고 마지막 5+1인 6으로 출력

12346

In [ ]:
a = "12345.123"
print(float(a) + 1) #문자형을 실수형으로 만들어준거임

12346.123

In [ ]:
#변환할 수 없는 경우에는 에러가 납니다.
a = 'abcd12'#문자열로 묶여있지만 안에는 숫자와 문자가 혼합된 형태 그래서 변환불가
int(a)

ValueError: invalid literal for int() with base 10: 'abcd12'

In [ ]:
a = "12345.123" # 12346.123
print(float(a) + 1)

12346.123

## **[6] 문자열 포맷팅**
- 문자열 안에 어떤 값을 삽입하는 방법

In [ ]:
num = 14
a = 'My favorite number is {}'.format(num)
print(a)

My favorite number is 14

# ✅ str.format() 방식
- 중괄호 {}에 값이 들어감

- .format()에 여러 값을 넣을 수도 있음

In [ ]:
#str.format()
score = 80
a = '내일 정처기 {}점으로 합격한다'.format(score)
print(a)

내일 정처기 80점으로 합격한다

✅ f-string 방식 (파이썬 3.6 이상에서 지원)
- 문자열 앞에 f를 붙이고

- {} 안에 변수나 표현식을 직접 넣을 수 있어

- 더 간결하고 읽기 쉬움 → 실무에서도 더 선호됨

In [ ]:
#f스트링
num = 14
a = f'My favorite number is {num}'
print(a)

My favorite number is 14

In [ ]:
score = 80
a = f'내일 정처기 {score}점으로 합격한다'
print(a)

내일 정처기 80점으로 합격한다

In [ ]:
#.format 방식
num1 = 14
num2 = 17
a = 'My favorite numbers are {} and {}'.format(num1, num2)
print(a)

My favorite numbers are 14 and 17

In [ ]:
#.format()
score1 = 65
score2 = 75
a = '내일 정처기 최소{}점 최대{}점으로 합격한다'.format(score1,score2)
print(a)

내일 정처기 최소65점 최대75점으로 합격한다

In [ ]:
#f-string
score1 = 65
score2 = 75
a = f'내일 정처기 최소{score1}점 최대{score2}점으로 합격한다'
print(a)

내일 정처기 최소65점 최대75점으로 합격한다

In [ ]:
color = 'blue'
a = f'My favorite color is {color}'
print(a)

My favorite color is blue

In [ ]:
color = 'pink'
a = f'내가 가장 좋아하는 색깔은 {color}야'
print(a)

내가 가장 좋아하는 색깔은 pink야

## **[7] 문자열 함수**
- `upper`: 대문자로 변환한 값을 출력
- `lower`: 소문자로 변환한 값을 출력
- `lstrip, rstrip, strip`: 공백 제거한 값을 출력
- `count`: 문자열 안의 특정 문자열 개수 세기
- `find`: 문자열 안의 특정 문자열이 처음 나온 위치 반환
 - 문자열이 없으면 -1을 반환
- `index`: `find`와 같으나 문자열이 없으면 오류 발생
- `join`: 특정 문자열을 각각의 문자 사이에 삽입하여 출력
- `split`: 특정 문자열을 기준으로 문자열을 나눈 값을 출력
- `replace`: 특정 문자열을 특정 문자열로 반환
- `startswith, endswith`: 특정 문자열로 시작하는지/끝나는지 확인

In [ ]:
### upper, lower
a = 'meanji'
a.upper()

'MEANJI'

In [ ]:
a.lower()

'meanji'

In [ ]:
a = '      안녕 meanji'
a.lstrip()

'안녕 meanji'

In [ ]:
a = '안녕 meanji            '
a.rstrip()

'안녕 meanji'

In [ ]:
a = '      안녕 meanji          '
a.strip()

'안녕 meanji'

In [ ]:
### count()
a = 'meanji dariy'
a.count('a')

2

In [ ]:
### find,index
a. find('e')

1

In [ ]:
a[a.find('e')]

'e'

In [ ]:
a.find('d')

7

In [ ]:
a[a.find('d')]

'd'

In [ ]:
a.find('i')

5

In [ ]:
### join,split
",".join('민지')

'민,지'

In [ ]:
"".join('민지')

'민지'

In [ ]:
"".join(['민지','정처기','합격','기원'])

'민지정처기합격기원'

In [ ]:
a='5월15일,민지는,정처기,합격한다'
a.split(',')

['5월15일', '민지는', '정처기', '합격한다']

In [ ]:
a='5월15일.민지는.정처기.합격한다'
a.split('.')

['5월15일', '민지는', '정처기', '합격한다']

In [ ]:
### replace
a ="Python is difficult"
a.replace('difficult','easy')

'Python is easy'

✅ startswith() 함수란?

- 문자열.startswith(찾을_문자열)
- 문자열이 특정 문자열로 시작하는지 확인하는 함수야.

- 결과는 **True 또는 False (불리언 값)**로 나와.

In [ ]:
### startswith, endswith
a = 'data_20231101.csv'
a.startswith('data')

True

In [ ]:
a = 'data_20231101.csv'
a.startswith('meanji') # a에 meanji라는 문자열로 시작하지 않으니까 false인거임

False

In [ ]:
a = 'data_20231101.csv'
a.endswith('csv')

True

In [ ]:
a = 'data_20231101.csv'
a.endswith('meanji') #a에 meanji라는 문자로 끝나지 않으니까 false

False

## **[8] `input` 함수**
- `변수 = input()` 의 형식으로 변수에 들어갈 값을 입력받을 수 있다.
- 변수 = input('입력 받을 때 띄우고 싶은 말')
- 변수의 타입은 기본적으로 문자열이고, input 앞에 타입 변환 함수를 씌우면 타입을 변경할 수 있다.

In [ ]:
x = input()

10

In [ ]:
print(x)

10

In [ ]:
x = input('10보다 작은 정수를 입력하세요. ')

10보다 작은 정수를 입력하세요. 15

In [ ]:
type(x)

str

### [9] 연습문제
### 1. 아래와 같이 변수가 정의되어 있을 때, 두 변수를 이용하여 `hello python hello python hello python` 이라는 값을 출력해보세요.
   -  h = 'hello'
    - t = 'python'

### 2. 아래 문자열을 거꾸로 뒤집어 출력하세요.
    -  s = 'hello python'

### 3. 아래와 같이 변수가 정의되어 있을 때, 두 변수를 이용하여 hello!! PYTHON이라는 값을 출력해보세요.
    - h = 'Hello'
    - t = 'python
### 4. 아래 문자열을 숫자형으로 변환해보세요.
   -  a = '1,123,234,622,234'
### 5. 아래의 변수는 김철수씨의 생년월일입니다. 해당 변수와 포맷팅을 사용하여 아래 글의 빈칸을 채워 출력해보세요.
    - 김철수씨는 {}년생으로, {}월 {}일이 생일입니다. 김철수씨의 생년월일에는 1이 {}번 들어갑니다.
    - id_num = '19971012'

In [ ]:
# 1. 아래와 같이 변수가 정의되어 있을 때,
# 두 변수를 이용하여 hello python hello python hello python 이라는 값을 출력해보세요.
# h = 'hello'
# t = 'python'
h= 'hello'
t = 'python'
print(h,t,h,t,h,t)
print()

hello python hello python hello python

In [137]:
# 강사님 ver
#  hello python hello python hello python
h = 'hello'
t = 'python'

a = h + ' '+ t + ' '
b = a * 3
b[:-1]

'hello python hello python hello python'

In [ ]:
# 2. 아래 문자열을 거꾸로 뒤집어 출력하세요.
# -  s = 'hello python'
#내가 준 힌트 []
s= 'hello python'
print(s[::-1])

nohtyp olleh

문자열 슬라이싱 문법:
- 문자열[start:stop:step]
    - start: 어디서부터 자를지 (생략하면 처음부터)

    - stop: 어디까지 자를지 (생략하면 끝까지)

    - step: 얼마나 건너뛸지 → 음수면 역방향

In [138]:
# 3. 아래와 같이 변수가 정의되어 있을 때, 두 변수를 이용하여
# hello!! PYTHON이라는 값을 출력해보세요.
# - h = 'Hello'
# - t = 'python

h = 'Hello'
t = 'python'
h.lower() + '!!'+t.upper()

'hello!!PYTHON'

In [ ]:
# 4. 아래 문자열을 숫자형으로 변환해보세요.### 다시 꼭해보기
# a = '1,123,234,622,234'
a = '1,123,234,622,234'
a = a.replace(',','')
print(int(a))

1123234622234

In [144]:
#강사님 ver
# 4. 아래 문자열을 숫자형으로 변환해보세요라는 문제에서
# 형변환할 때 int or float (a)이렇게 감싸주면 되는데
# 지금은 콤마가 있어서 바로 숫자형으로 바꾸지 못해서
# 콤마를 공백으로 바꿔줘
a = '1,123,234,622,234'
b= a.replace(',','')
c= int(b)
print(c)
type(c)

1123234622234

int

In [152]:
# 5. 아래의 변수는 김철수씨의 생년월일입니다.
# 해당 변수와 포맷팅을 사용하여 아래 글의 빈칸을 채워 출력해보세요.
# 김철수씨는 {}년생으로, {}월 {}일이 생일입니다. 김철수씨의 생년월일에는
# 1이 {}번 들어갑니다.
# id_num = '19971012'
year = 1997
month = 10
date = 12
id_num="19971012" #19971012를 ""로 묶는 이유는 정수에선 count() 함수 사용불가능하거든
count=id_num.count('1') #count함수 사용하기 위해선 str형이어야함
a =f'김철수씨는 {year}년생으로, {month}월 {date}일이 생일입니다. 김철수씨의 생년월일에는 1일{count}번 들어갑니다'
a

'김철수씨는 1997년생으로, 10월 12일이 생일입니다. 김철수씨의 생년월일에는 1일3번 들어갑니다'

In [149]:
### 강사님 버전
id_num= '19971012'
year = id_num[:4]
month = id_num[4:6]
day = id_num[6:]

In [151]:
cnt = id_num.count('1')

In [153]:
f'김철수씨는 {year}년생으로, {month}월 {day}일이 생일입니다. 김철수 씨의 생년월일에는 1이 {cnt}번 들어갑니다 '

'김철수씨는 1997년생으로, 10월 12일이 생일입니다. 김철수 씨의 생년월일에는 1이 3번 들어갑니다 '