<a href="https://colab.research.google.com/github/memeanji/python-bootcamp/blob/main/%ED%8A%9C%ED%94%8C_%26%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **튜플**


---

## **[1] 튜플이란?**
- 리스트와 비슷하게 여러 요소들을 묶을 수 있습니다.
- 다만 튜플의 요소는 수정이나 삭제가 불가능합니다.
- 프로그램 실행 중 절대 변하지 않거나 변해서는 안되는 값들이 있다면 튜플로 저장하는 것이 좋습니다.
- 요소들을 괄호(`()`)로 감싸주면 튜플이 됩니다.

In [1]:
a = (1,2,3,4,5)
b = ('life','is','too','short')
c = (1,2,'life','is')
d = (1,2,['life','is',('too','short')])

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

(1, 2, 3, 4, 5) <class 'tuple'>
('life', 'is', 'too', 'short') <class 'tuple'>
(1, 2, 'life', 'is') <class 'tuple'>
(1, 2, ['life', 'is', ('too', 'short')]) <class 'tuple'>

- 요소가 하나일 경우는 ,를 뒤에 붙여주어야 합니다.

In [2]:
x = (3)

In [3]:
type(x) #요소가 하나일 경우 int로 인식하기 대문에

int

In [4]:
x = (3,) # 요소가 하나일 경우는 ,를 뒤에 붙여주어야 합니다.

In [6]:
type(x)

tuple

## **[2] 인덱싱**
- 리스트와 마찬가지로 인덱싱을 적용할 수 있습니다.

In [7]:
a

(1, 2, 3, 4, 5)

In [8]:
print(a[0])
print(a[0]+a[4])
print(a[3:])
print(a[1:-1])

1
6
(4, 5)
(2, 3, 4)

In [9]:
d

(1, 2, ['life', 'is', ('too', 'short')])

In [10]:
print(d[2])
print(d[2][2])
print(d[-1][2:])
print(d[-1][-1][-1])

['life', 'is', ('too', 'short')]
('too', 'short')
[('too', 'short')]
short

## **[3] 튜플 연산**
- 리스트와 마찬가지로 더하기와 곱하기를 할 수 있습니다.

In [11]:
a = (1,2,3)
b = (4,5,6)
a + b

(1, 2, 3, 4, 5, 6)

In [12]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

- 튜플에 다른 자료형을 더하면 오류가 납니다.

In [13]:
a + 4 #튜플에 다른 자료형을 더한거라 오류난거

TypeError: can only concatenate tuple (not "int") to tuple

In [14]:
a + [4] #튜플끼리 concat 할 수 있음

TypeError: can only concatenate tuple (not "list") to tuple

In [15]:
a + (3) #요소 하나는 int로 인식함

TypeError: can only concatenate tuple (not "int") to tuple

In [16]:
a + (3,) # 이렇게 요소 한개 뒤에 콤마 해야 tuple로 바껴서 들어감

(1, 2, 3, 3)

## **[4] 튜플 값 치환?**
- 튜플의 요소는 수정하거나 삭제할 수 없으므로 불가능합니다.

In [17]:
a = [1,2,3,4,5]
a[0] = 0 #리스트의 경우
print(a)

[0, 2, 3, 4, 5]

In [18]:
a = (1,2,3,4,5)
a[0] = 0 #튜플의 경우 치환이 안됨
print(a)

TypeError: 'tuple' object does not support item assignment

- 따라서 리스트에서 사용하는 아래 함수들은 사용할 수 없습니다.
 - `append, insert, extend, remove, pop, sort, ...`

In [19]:
a.append('a') # tuple은 append 사용불가

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a.sort()

- 다만 sorted는 튜플을 리스트로 변환하여 정렬해 출력합니다.

In [20]:
sorted(a) # sorted쓰면 튜플도 정렬이 가능함. 다만 ! 리스트로 바꿔서 출력해줌

[1, 2, 3, 4, 5]

In [21]:
tuple(sorted(a)) # 튜플로 출력하고 싶으면 tuple로 감싸주기

(1, 2, 3, 4, 5)

## **[5] 튜플 함수**
- `len`: 튜플의 길이를 구합니다.
- `sum, min, max`: 튜플의 요소들의 합, 최솟값, 최댓값을 구합니다.
- `in`: 특정 요소가 튜플 안에 있는지 확인합니다.
- `count`: 튜플의 특정 요소의 개수를 반환합니다.
- `index`: 튜플에 요소가 있는 경우 인덱스 값을 반환합니다.
- `join`: 튜플의 요소들을 하나의 문자열로 합칩니다.

In [ ]:
a = (1,2,2,4,5)
print(len(a))
print(sum(a))
print(min(a))
print(max(a))
print(1 in a) # 튜플에 1이라는 요소가 잇는지
print(a.count(2))
print(a.index(2))

In [22]:
ls = ('a','b','c','d','e')  #튜플은 튜플함수 자체를 바꾸는 함수는 적용불가!
' '.join(ls)

'a b c d e'

## **[6] 튜플 함수 심화**
- `max(튜플, key = lambda x:x[인덱스])` : 다중 튜플의 경우 정렬 기준을 정의하여 튜플 내 최댓값을 탐색함
- `min(튜플, key = lambda x:x[인덱스])` : 다중 튜플의 경우 정렬 기준을 정의하여 튜플 내 최솟값을 탐색함

In [23]:
a = (('a', 1), ('b',7), ('c', 3), ('d', -5), ('e', -9))
print(max(a, key = lambda x:x[0]))
# a라는 튜플안에서 max인 요소를 가지고 올건데, 판별 기준이 내가 들어온 요소의 첫번째 기준[0]으로 max값을 구해줘
# 즉 첫번째 값이 a니까 문자가지고 구하니까 max 가 -9거 포함된 'e' 가 출력된거임
print(max(a, key = lambda x:x[1]))
# a라는 튜플안에서 max값을 구할건데, 판별 기준이 두번째 기준으로 [1] max값을 구해줘
# 그래서 숫자중에 max 값인 b가 포함된 7이 나온거임
#<->
print(min(a, key = lambda x:x[0]))
# a라는 튜플안에서 min인 요소를 문자기준으로 들고올건데 그게 1이 포함된 a 인거고
print(min(a, key = lambda x:x[1]))
# a라는 튜플안에서 min인 요소를 숫자기준으로 들고올건데 그게 e가 포함된 -9인거임

('e', -9)
('b', 7)
('a', 1)
('e', -9)

- 두번째 요소의 절댓값을 기준으로 최댓값/최솟값을 탐색하고 싶다면?

In [24]:
print(max(a, key = lambda x:abs(x[1]))) #absolute읭 줄임말인 abs 는 절댓값을 기준으로 데리고 오는거임
print(min(a, key = lambda x:abs(x[1])))

('e', -9)
('a', 1)

- 리스트에도 비슷하게 적용할 수 있습니다.

In [25]:
b = list(a)
b

[('a', 1), ('b', 7), ('c', 3), ('d', -5), ('e', -9)]

In [26]:
#리스트에서도 sorted라는 함수에 리스트를 넣고
print(sorted(b, key = lambda x:x[1]))
# 숫자로 정렬
print(sorted(b, key = lambda x:x[1], reverse=True))
# reverse = True 내림차순 이고
print(sorted(b, key = lambda x:abs(x[1])))
#절댓값이 작은 순서대로
#전부 숫자기준으로 정렬

[('e', -9), ('d', -5), ('a', 1), ('c', 3), ('b', 7)]
[('b', 7), ('c', 3), ('a', 1), ('d', -5), ('e', -9)]
[('a', 1), ('c', 3), ('d', -5), ('b', 7), ('e', -9)]

## **[7] 연습문제**

## 1. 다음 튜플을 내림차순으로 정렬하여 튜플의 형태로 저장해보세요.

In [28]:
tup = (1,2,3,4,5)

In [35]:
list(tup)
Tup=print(sorted(tup,key=lambda x:x,reverse=True))

[5, 4, 3, 2, 1]

In [47]:
#강사님
tup1 = tuple(sorted(tup,reverse=True))
# sorted함수를 써서 reverse True 쓰면 내림차순으로 쓸 수 있는데 이렇게 하면 list형태로 되니가 마지막에 tuple로 묶어주면 됨

## 2. 1부터 100까지의 정수 중 짝수만 저장된 튜플을 만들어보세요.

In [40]:
h = list[0:101]

In [48]:
#강사님
(1,101)

(1, 101)

In [54]:
#list(range(1,101))
tuple(range(1,101))
t=tuple(range(2,101,2))
print(t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

## 3. 다음 리스트를 각 요소의 2번째 리스트의 평균 값을 기준으로 내림차순 정렬하여 출력해보세요.

In [56]:
tt = [('a', [1,10,2,2]), ('b', [5,2,19,2]), ('c', [8,11,91,1]), ('d', [10,56,23,6]), ('e', [38,19,47,2])]

In [44]:
print(sorted(tt,key=lambda x;x:[1],reverse=True)) # 내가한거

SyntaxError: invalid syntax (<ipython-input-44-8e4451783242>, line 1)

In [57]:
#강사님
sorted(tt,key=lambda x:sum(x[1])/len(x[1]), reverse=True)

[('c', [8, 11, 91, 1]),
 ('e', [38, 19, 47, 2]),
 ('d', [10, 56, 23, 6]),
 ('b', [5, 2, 19, 2]),
 ('a', [1, 10, 2, 2])]